<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Ontologicals -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Ontologicals.presentation.OntologicalsModelWizardID"
            name="%_UI_OntologicalsModelWizard_label"
            class="Ontologicals.presentation.OntologicalsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OntologicalsModelFile.gif">
         <description>%_UI_OntologicalsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Ontologicals -->
      <editor
            id="Ontologicals.presentation.OntologicalsEditorID"
            name="%_UI_OntologicalsEditor_label"
            icon="icons/full/obj16/OntologicalsModelFile.gif"
            extensions="ontologicals"
            class="Ontologicals.presentation.OntologicalsEditor"
            contributorClass="Ontologicals.presentation.OntologicalsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Gameloop -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Gameloop.presentation.GameloopModelWizardID"
            name="%_UI_GameloopModelWizard_label"
            class="Gameloop.presentation.GameloopModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GameloopModelFile.gif">
         <description>%_UI_GameloopModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Gameloop -->
      <editor
            id="Gameloop.presentation.GameloopEditorID"
            name="%_UI_GameloopEditor_label"
            icon="icons/full/obj16/GameloopModelFile.gif"
            extensions="gameloop"
            class="Gameloop.presentation.GameloopEditor"
            contributorClass="Gameloop.presentation.GameloopActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Physics -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Physics.presentation.PhysicsModelWizardID"
            name="%_UI_PhysicsModelWizard_label"
            class="Physics.presentation.PhysicsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PhysicsModelFile.gif">
         <description>%_UI_PhysicsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Physics -->
      <editor
            id="Physics.presentation.PhysicsEditorID"
            name="%_UI_PhysicsEditor_label"
            icon="icons/full/obj16/PhysicsModelFile.gif"
            extensions="physics"
            class="Physics.presentation.PhysicsEditor"
            contributorClass="Physics.presentation.PhysicsActionBarContributor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Graphics -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Graphics.presentation.GraphicsModelWizardID"
            name="%_UI_GraphicsModelWizard_label"
            class="Graphics.presentation.GraphicsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GraphicsModelFile.gif">
         <description>%_UI_GraphicsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Graphics -->
      <editor
            id="Graphics.presentation.GraphicsEditorID"
            name="%_UI_GraphicsEditor_label"
            icon="icons/full/obj16/GraphicsModelFile.gif"
            extensions="graphics"
            class="Graphics.presentation.GraphicsEditor"
            contributorClass="Graphics.presentation.GraphicsActionBarContributor">
      </editor>
   </extension>
</plugin>
